/*
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 20, 2018, 12:47:08 PM
    Author     : Book
*/
#map {
    height: 400px;
    width: 1000px;
}
body{
    background-color: #5EA1B4
}

.box{
    background-color:white;
    width: 800px;
    height: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom:  50px;
    padding: 50px;
    border-radius: 10px;

}
.logo {
    width:50px;
    height: 50px; 
    float: left;
    margin-left: 10px;
}


h1 {
    display:inline-block;
}
.newspaper1 {
    columns: 100px 3;
}
.newspaper2 {
    columns: 100px 3;
}
.column1 {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: right;
    color: blue;
}
.column2 {
    float: left;
    width: 70%;
    padding: 10px;
    color: lightskyblue;
}
.nav-pills{
    float: right;
    font-size: 18px;
}
.header{
    padding-top: 10px;
    width: 100%;
    height: 70px;
    background-color: white;
}
#map{
    margin-top: 30px;
    margin-left: 14%;

}


